
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/activateFavicon.png">

    <a href="dashboard"><title>Activate | <%=s.company.name%></title></a>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/dashboardCoded.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img class="activateLogoHeader" src="img/ActivateLogoWhite.png">
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="dashboard.<%=s.company.code%>">Overview</a></li>
            <li><a href="events.<%=s.company.code%>">Events</a></li>
            <li><a href="message.<%=s.company.code%>">Message</a></li>
            <li><a href="users.<%=s.company.code%>">Members</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="main">
          <a href="dashboard"><h1 class="page-header"><%=s.company.name%></h1></a>

          <h2 class="sub-header">Message</h2>

          <ul class="nav nav-pills nav-justified">
            <li class="active"><a data-toggle="pill" href="#text">Text</a></li>
            <li><a data-toggle="pill" href="#allEvents">All Events</a></li>
            <li><a data-toggle="pill" href="#featuredEvent">Featured Event</a></li>
          </ul>

          <br/>

          <div class="tab-content">
            <div id="text" class="tab-pane fade in active">
              <form action="/message.<%= s.company.code %>" method="POST">
                <input style="display:none" type="text" name="formType" value="message">
                <div class="form-group">
                  <label for="textarea_message">
                    Message Text
                  </label>
                  <textarea class="form-control" rows="3" placeholder="Message Text"
                   name="message"></textarea>
                  <br/>
                  <textarea class="form-control" rows="3" placeholder="List of Id's (Leave blank to message everyone)"
                   name="ids"></textarea>
                </div>
                <input type="submit" class="btn btn-success btn-block" value="Send"/>
              </form>
            </div>

            <div id="allEvents" class="tab-pane fade">
              <form action="/message.<%= s.company.code %>" method="POST">
                <input style="display:none" type="text" name="formType" value="events">
                <div class="form-group">
                  <textarea class="form-control" rows="3" placeholder="List of Id's (Leave blank to message everyone)"
                   name="ids"></textarea>
                </div>
                <input type="submit" class="btn btn-success btn-block" value="Send" onclick="send(events)"/>
              </form>
            </div>

            <div id="featuredEvent" class="tab-pane fade">
              <form action="/message.<%= s.company.code %>" method="POST">
                <input style="display:none" type="text" name="formType" value="featured">
                <div class="form-group">
                  <select name="eid">
                    <% events.forEach(function(item){ %>
                      <option value="<%=item._id%>"><%= item.name %></option>
                    <% }) %>
                  </select>
                  <br>
                  <br>
                  <label for="textarea_message">
                    Subtitle Text
                  </label>
                  <textarea class="form-control" rows="3" placeholder="Subtitle Text"
                   name="subtitle"></textarea>
                  <br/>
                  <textarea class="form-control" rows="3" placeholder="List of Id's (Leave blank to message everyone)"
                   name="ids"></textarea>
                </div>
                <input type="submit" class="btn btn-success btn-block" value="Send" onclick="send(featured)"/>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">

    </script>
  </body>
</html>
