<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=s.company.name%> | Pay</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/input.css">
    <link rel="icon" href="img/favicon.png">
    <link href="css/coded.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-80635942-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="site-wrapper-payment"
      <% if (s.company.code === 'wegeek'){ %>
          style="background:black"
      <% } %>
    >

      <img class="logoLead-payment"

        <% if (s.company.code === 'wegeek') { %>
            src="images/botLogos/wegeek.png"
        <% } else { %>
          src="img/logoUnbinded-white.png"
        <% }%>

      >

      <br/>
      <!-- event image -->
      <img src="<%= event.image_url %>" class="imageGame">
      <p class="eventtitle"><%= event.name %></p>
      <p class="eventaddress" ><%= event.strapline %></p>
      <p><%= event.description %></p>

      <div class="cover-container2">
        <div class="inner cover">
          <div class="payWithCardButtonContainer">

              <form action="/charge.<%= s.company.code %>?uid=<%=uid%>&eid=<%=eid%>" method="POST">

                <% if (s.company.code === 'wegeek') { %>

                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button" style="height: 50px;"
                    data-key="<%= STRIPE_PUBLIC_KEY %>"
                    data-amount="<%= event.price*100 %>"
                    data-name="<%=s.company.name%>"
                    data-description="<%= event.strapline %>"
                    data-image="images/botLogos/wegeek.png"
                    data-locale="auto"
                    data-zip-code="false"
                    data-currency="gbp">
                  </script>

                <% } else { %>

                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button" style="height: 50px;"
                    data-key="<%= STRIPE_PUBLIC_KEY %>"
                    data-amount="<%= event.price*100 %>"
                    data-name="<%=s.company.name%>"
                    data-description="<%= event.strapline %>"
                    data-image="img/logo.png"
                    data-locale="auto"
                    data-zip-code="false"
                    data-currency="gbp">
                  </script>

                <% }%>

              </form>

          </div>
        </div>
      </div>

      <!-- FACEBOOK AUDIENCE NETWORK
      <script>
      window.fbAsyncInit = function() {
        FB.Event.subscribe(
          'ad.loaded',
          function(placementId) {
            console.log('Audience Network ad loaded');
          }
        );
        FB.Event.subscribe(
          'ad.error',
          function(errorCode, errorMessage, placementId) {
            console.log('Audience Network error (' + errorCode + ') ' + errorMessage);
          }
        );
      };
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk/xfbml.ad.js#xfbml=1&version=v2.5&appId=144481079297226";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="fb-ad" data-placementid="144481079297226_175105466234787" data-format="300x250" data-testmode="false"></div>
    -->
    <!-- -->

      <div class="footerDiv">
        <p class="footertext">
          <%=s.company.address%>
          <br>
          <%=s.company.website%>
        </p>
      </div>

    </div>
  </body>
</html>
