<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wicked Student Nights | Pay</title>

    <link rel="icon" href="img/favicon.ico">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/input.css">
    <link rel="stylesheet" href="css/coded.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Muli' type='text/css'>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  </head>
  <body>
  <div class="site-wrapper-payment">
    <div class="cover-container2">
      <div class="inner cover">
        <img src="img/logoUnbinded-white.png" class="logoLead-payment"><br>
        <% if (typeof event != 'undefined') {%>
        <!-- event image -->
        <img src="<%= event.image_url %>" class="imageGame">
        <p class="eventtitle"><%= event.name %></p>
        <p class="eventaddress" ><%= event.strapline %></p>
        <p><%= event.description %></p>
        <br>
        <span style="color:white;"><%=message%></span>
        <div class="payWithCardButtonContainer" style="display:<%=paymentDivDisplay%>">
          <form action="/charge?pn=<%=pn%>&eid=<%=event._id%>" method="POST">
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button" style="height: 50px;"
              data-key="<%= STRIPE_PUBLIC_KEY%>"
              data-amount="<%= event.price*100 %>"
              data-name="Student Club Tickets"
              data-description="<%= event.strapline %>"
              data-image="img/logoWhite.png"
              data-locale="auto"
              data-zip-code="false"
              data-currency="gbp">
            </script>
          </form>
        </div>
        <% } else {%>
        <span style="color:white;"><%=message%></span>
        <% }%>
      </div>
    </div>

    <!--
    <div class="footerDiv">
      <p class="footertext">
        Activate Technologies Ltd, Gordon House, 29 Gordon Square, London, WC1H 0PP
        <br>
        www.activatetechnologies.co.uk
      </p>
    </div>
    -->
  </div>

  </body>
</html>
