
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%=s.company.name%></title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/dashboardCoded.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="dashboard.<%=s.company.code%>"><%=s.company.name%></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="dashboard.<%=s.company.code%>">Overview</a></li>
            <li><a href="events.<%=s.company.code%>">Events</a></li>
            <li><a href="message.<%=s.company.code%>">Message</a></li>
            <li><a href="users.<%=s.company.code%>">Members</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-md-10 main">
          <a href="dashboard"><h1 class="page-header"><%=s.company.name%></h1></a>

          <h2 class="sub-header">Members</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>FB Profile Pic</th>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>Phone Number</th>
                  <th>No Of Events Attended</th>
                </tr>
              </thead>
              <tbody id="usersTBody">

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">

      let users = {};

      var getCard = function(user, index) {
        let data;
        if (user.mid) {
          let phoneNumber = (user.phoneNumber) ? user.phoneNumber
           : 'Not Collected Yet';
          data =
            '<tr>'
            + '<td>' + (index + 1) + '</td>'
            + '<td><img style="height:50px;" src="' + user.profilePic + '" /></td>'
            + '<td>' + user.firstName + ' ' + user.lastName + '</td>'
            + '<td>' + user.gender + '</td>'
            + '<td>' + phoneNumber + '</td>'
            + '<td>' + user.events.length + '</td>'
          + '</tr>'
        } else if (user.phoneNumber) {
          data =
            '<tr>'
            + '<td>' + (index + 1) + '</td>'
            + '<td colspan="4" style="text-align:center">Text Service User: '
             + user.phoneNumber + '</td>'
            + '<td>' + user.events.length + '</td>'
          + '</tr>'
        }
        return data;
      }

      $(document).ready(() => {
        $.get('/userAnalyticsData' + ".<%= s.company.code %>", (data, status) => {
          data.users.forEach((user, index) => {
            users[user._id] = user;
            let userTr = getCard(user, index);
            $('#usersTBody').append(userTr);
          });
          if (data.users.length == 0) {
            $('#usersTBody').append('<tr><td colspan="5" style="text-align:center">'
              + 'There are no users currently.</td></tr>');
          }
        });
      });
    </script>
  </body>
</html>
