
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%=s.company.name%></title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/dashboardCoded.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="dashboard.<%=s.company.code%>"><%=s.company.name%></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="dashboard.<%=s.company.code%>">Overview</a></li>
            <li><a href="events.<%=s.company.code%>">Events</a></li>
            <li><a href="message.<%=s.company.code%>">Message</a></li>
            <li><a href="users.<%=s.company.code%>">Members</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="main">
          <a href="dashboard"><h1 class="page-header"><%=s.company.name%></h1></a>

          <h2 class="sub-header">Members</h2>
          <a class="btn btn-primary" href="/userdata.<%=s.company.code%>">Download as CSV</a>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <% if (s.company.code === 'kickabout') { %>

                    <th>FB Profile Pic</th>
                    <th>Name</th>
                    <th>Gender</th>

                  <% } else { %>

                  <th>FB Profile Pic</th>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>Phone Number</th>
                  <th>Email</th>
                  <th>Preferred Position</th>
                  <th>Backup Position</th>
                  <th>Level</th>
                  <th>New/Returning</th>
                  <th></th>
                  <th>Signed Up Date</th>
                  <th>Messenger Id</th>

                  <% } %>
                </tr>
              </thead>
              <tbody id="usersTBody">

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">

      let users = {};

      var getCard = function(user, index) {
        let data;

        let phoneNumber = (user.phoneNumber) ? user.phoneNumber
         : 'Not Collected Yet';

        if('<%= s.company.code %>' === 'kickabout'){
          data =
          '<tr>'
            + '<td>' + (index + 1) + '</td>'
            + '<td><img style="height:50px;" src="' + user.profilePic + '" /></td>'
            + '<td>' + user.firstName + ' ' + user.lastName + '</td>'
            + '<td>' + user.gender + '</td>'
          + '</tr>'
        }

        else {
          data =
            '<tr>'
              + '<td>' + (index + 1) + '</td>'
              + '<td><img style="height:50px;" src="' + user.profilePic + '" /></td>'
              + '<td>' + user.firstName + ' ' + user.lastName + '</td>'
              + '<td>' + user.gender + '</td>'

          try {
            data += '<td>' + user.extras[1].phoneNumber + '</td>'
          }
          catch (e) {
            data += '<td>' + "NA" + '</td>'
          }
          try {
            data += '<td>' + user.extras[2].email + '</td>'
          }
          catch (e) {
            data += '<td>' + "NA" + '</td>'
          }
          try {
            data += '<td>' + user.extras[3].preferredPosition + '</td>'
          }
          catch (e) {
            data += '<td>' + "NA" + '</td>'
          }
          try {
            data += '<td>' + user.extras[4].backup + '</td>'
          }
          catch (e) {
            data += '<td>' + "NA" + '</td>'
          }
          try {
            data += '<td>' + user.extras[5].level + '</td>'
          }
          catch (e) {
            data += '<td>' + "NA" + '</td>'
          }
          try {
            data += '<td>' + (user.extras[6])['type'] + '</td>'
          }
          catch (e) {
            data += '<td>' + "NA" + '</td>'
          }

          data += '<td>' + "     " + '</td>'


          function formatDate(date) {
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;
            return date.getMonth()+1 + "/" + date.getDate() + "/" + date.getFullYear() + "  " + strTime;
          }

          let sd = new Date(user.signedUpDate);
          sd = formatDate(sd);
          data += '<td>' + sd + '</td>'

          data += '<td>' + user.mid + '</td>'

          data += '</tr>'
        }

        return data;
      }

      $(document).ready(() => {
        $.get('/userAnalyticsData' + ".<%= s.company.code %>", (data, status) => {
          console.log(data.users.length);
          data.users.forEach((user, index) => {
            users[user._id] = user;
            let userTr = getCard(user, index);
            $('#usersTBody').append(userTr);
          });
          if (data.users.length == 0) {
            $('#usersTBody').append('<tr><td colspan="5" style="text-align:center">'
              + 'There are no users currently.</td></tr>');
          }
        });
      });
    </script>
  </body>
</html>
