<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kickabout | Book</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/coded.css" rel="stylesheet">
    <link rel="icon" href="img/favicon.png">


    <meta property="og:title" content="<%= gameName %>" />
    <meta property="og:description" content="<%= gameAddress %>" />
    <meta property="fb:app_id" content="144481079297226">
    <meta property="og:image" content="<%= imageLink %>" />
    <meta property="og:image:secure_url" content="<%= imageLink %>" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>


    <style>
      a {
        text-shadow: none;
      }
      #loader {
        margin: 0 auto;
      }
    </style>
  </head>
  <body>

    <div class="site-wrapper-payment">

      <div class="site-wrapper-inner2">

        <div class="cover-container2">

          <div class="inner cover">

              <img src="img/logoUnbinded-white.png" class="logoLead-custompayment">
              <br/>
              <!-- game image -->
              <img src="<%= imageLink %>" width="100" height="80">
              <h2><%= gameName %></h2>
              <p>
                <%= gameAddress %>
              </p>

              <p id="text" class="title-text-useMessenger">Use Facebook Messenger to book your game:</p>
              <img id="lg" class="button-login" onclick="magic()" src="img/login-with-facebook.png">

              <div id="clicker" class="messenger-container"></div>

              <div id="loader" style="display:none" class="preloader-wrapper active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>


              <p class="footertext">
                Activate Technologies Ltd, Gordon House, 29 Gordon Square, London, WC1H 0PP
                <br>
                www.activatetechnologies.co.uk
              </p>

            </div>

          </div>

        </div>

      </div>


    <script>

    var fbid = "";

    function ref(){
      $.get("https://limitless-sierra-68694.herokuapp.com/check?fbid=" + fbid, function(data){
        if(data.check === true){
          setTimeout(function(){
            console.log("calling refresh");
            location.href = "http://m.me/kickaboutapp";
          }, 2000)
        }
      })
      setInterval(function(){
        $.get("https://limitless-sierra-68694.herokuapp.com/check?fbid=" + fbid, function(data){
          if(data.check === false){
            setTimeout(function(){
              console.log("calling refresh");
              location.href = "http://m.me/kickaboutapp";
            }, 2000)
          }
        })
      }, 2000);
    }

    function magic(){
      console.log("called magic");
      FB.login(function(res) {
        if (res.authResponse) {
          location.reload()
        } else {
         console.log('User cancelled login or did not fully authorize.');
        }
      });
    }

      window.fbAsyncInit = function() {

        FB.init({
          appId: "144481079297226",
          xfbml: true,
          version: "v2.6"
        });

        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            var lg = document.getElementById('lg');
            lg.style.display = "none";

            fbid = response.authResponse.userID;

            var temp = '<div id="stm" class="fb-send-to-messenger" messenger_app_id="144481079297226" page_id="1625739117677522" data-ref="<%= gid %>facebook' + fbid + '" color="blue" size="xlarge"></div>'
            document.getElementById('clicker').innerHTML = temp

            FB.XFBML.parse();
          }
          else if (response.status === 'not_authorized') {
            console.log("not authorized");
            var clicker = document.getElementById('clicker');
            clicker.style.display = 'none';
          }
          else {
            console.log("not the two above");
            var clicker = document.getElementById('clicker');
            clicker.style.display = 'none';
          }
        });

      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) { return; }
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      var myConfObj = {
        iframeMouseOver : false
      }
      window.addEventListener('blur',function(){
        console.log("reached blur");
        if(myConfObj.iframeMouseOver){
          console.log("detected click");
          var loader = document.getElementById('loader');
          loader.style.display = 'block'

          ref();

        }
      });

      document.getElementById('clicker').addEventListener('mouseover',function(){
         myConfObj.iframeMouseOver = true;
      });
      document.getElementById('clicker').addEventListener('mouseout',function(){
          myConfObj.iframeMouseOver = false;
      });

    </script>
  </body>
</html>
