<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kickabout | Book</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/coded.css" rel="stylesheet">
    <link rel="icon" href="img/favicon.png">

    <meta property="og:title" content="<%= gameName %>" />
    <meta property="og:description" content="<%= gameAddress %>" />
    <meta property="fb:app_id" content="144481079297226">
    <meta property="og:image" content="<%= imageLink %>" />
    <meta property="og:image:secure_url" content="<%= imageLink %>" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <style>
      a {
        text-shadow: none;
      }
    </style>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>

    function isAndroidFacebookApp() {
        var ua = navigator.userAgent || navigator.vendor || window.opera;
        // $('#controls').css('display', 'none');
        // $('#android').css('display', 'block');
        // document.getElementById('android').innerHTML = ua;
        return (
            ((ua.indexOf("FBAN") > -1) || (ua.indexOf("FBAV") > -1))
            && (ua.indexOf("Android") > -1 || ua.indexOf("android") > -1)
        );
    }

    var magic = function(){
      FB.login(function(res) {
        if (res.authResponse) {
          location.reload()
        } else {
         console.log('User cancelled login or did not fully authorize.');
        }
      });
    }

    var getParameterByName = function(name, url) {
      if (!url) url = window.location.href;
      name = name.replace(/[\[\]]/g, "\\$&");
      var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    window.fbAsyncInit = function() {

      FB.init({
        appId: "159289771143437",
        xfbml: true,
        version: "v2.7"
      });

      if(isAndroidFacebookApp()){
        $('#controls').css('display', 'none');
        $('#android').css('display', 'block')
      }

      else {
        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            var lg = document.getElementById('lg');
            lg.style.display = "none";

            var fbid = response.authResponse.userID;

            $.post( "https://kickabouttest.herokuapp.com/check?fbid=" + fbid + "&gid=" + getParameterByName('gid'), function( data ) {
              console.log("done");
              //$('#facebookMessageUsButton').fadeIn();
              //location.href = "http://m.me/245261069180348";
              //location.href = "https://www.messenger.com/t/245261069180348";
              //window.open('http://m.me/245261069180348');
              document.getElementById('messengerLinkButton').style.display = '';

            });
          }
          else if (response.status === 'not_authorized') {
            console.log("not authorized");
          }
          else {
            console.log("not the two above");
          }
        });
      }

    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) { return; }
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    </script>

    <div class="site-wrapper-payment">
      <div class="site-wrapper-inner2">
        <div class="cover-container2">

          <div id="controls" class="inner cover">
            <img src="img/logoUnbinded-white.png" class="logoLead-payment">
            <br/>
            <img src="<%= imageLink %>" class="gamePic">
            <p class="gametitlegame"><%= gameName %></p>
            <p class="gameaddress">
              <%= gameAddress %>
            </p>
            <p id="text" class="title-text-useMessenger">Use Facebook Messenger to book your game:</p>
            <img id="lg" class="button-login" onclick="magic()" src="img/login-with-facebook.png">
            <a id="messengerLinkButton" style="display:none;" onclick="window.open('http://m.me/245261069180348')" target="_blank">Open</a><br><br>
          </div>

          <div id="android" style="display:none">
            <p>
              Click on the three dots and choose open in chrome
            </p>
          </div>

          <div class="footerDiv">
            <p class="footertext">
              Activate Technologies Ltd, Gordon House, 29 Gordon Square, London, WC1H 0PP
              <br>www.activatetechnologies.co.uk
            </p>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
