<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kickabout | Book</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/coded.css" rel="stylesheet">
    <link rel="icon" href="img/favicon.png">

    <meta property="og:title" content="<%= gameName %>" />
    <meta property="og:description" content="<%= gameAddress %>" />
    <meta property="fb:app_id" content="144481079297226">
    <meta property="og:image" content="<%= imageLink %>" />
    <meta property="og:image:secure_url" content="<%= imageLink %>" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <style>
      a {
        text-shadow: none;
      }
    </style>
  </head>
  <body>
    <script src="js/config.js"></script>
    <script>

    function isAndroidFacebookApp() {
        var ua = navigator.userAgent || navigator.vendor || window.opera;
        return (
            ((ua.indexOf("FBAN") > -1) || (ua.indexOf("FBAV") > -1))
            && (ua.indexOf("Android") > -1 || ua.indexOf("android") > -1)
        );
    }

    var getParameterByName = function(name, url) {
      if (!url) url = window.location.href;
      name = name.replace(/[\[\]]/g, "\\$&");
      var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    $(document).ready(function(){
      if(isAndroidFacebookApp()){
        $('#controls').css('display', 'none');
        $('#android').css('display', 'block')
      }

      $('#pnform').submit(function(e){
        e.preventDefault();
        var pn = $('#phoneNumber').val();
        $.post( ROOT_URL + "/check?pn=" + pn + "&gid=" + getParameterByName('gid'), function( data ) {
          console.log("done");
          location.href = "http://m.me/kickaboutapp";
        });
      })
    })

    </script>

    <div class="site-wrapper-payment">
      <div class="site-wrapper-inner2">
        <div class="cover-container2">

          <div id="controls" class="inner cover">
            <img src="img/logoUnbinded-white.png" class="logoLead-payment">
            <br/>
            <img src="<%= imageLink %>" class="gamePic">
            <p class="gametitlegame"><%= gameName %></p>
            <p class="gameaddress">
              <%= gameAddress %>
            </p>
            <p id="text" class="title-text-useMessenger">Use Facebook Messenger to book your game:</p>
            <div class="formContainer">
              <form class="form-horizontal" id="pnform">
                <div class="input-group centre-group">
                  <div class="input-group-addon custom-width">Phone Number</div>
                  <input placeholder="Eg: 07231324112" id="phoneNumber" type="text" class="form-control" required>
                </div>
                <br/>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary" value="Submit Payment">Submit</button>
                </div>
              </form>
            </div>
          </div>






          <div id="android" style="display:none">
            <p>
              Click on the three dots and choose open in chrome
            </p>
          </div>





          <div class="footerDiv">
            <p class="footertext">
              Activate Technologies Ltd, Gordon House, 29 Gordon Square, London, WC1H 0PP
              <br>www.activatetechnologies.co.uk
            </p>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
