<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kickabout | Pay</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="css/input.css">
    <link rel="icon" href="img/favicon.png">
    <link href="css/coded.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  </head>
  <body>
  <div class="site-wrapper-payment">

      <div class="site-wrapper-inner2">

        <div class="cover-container2">

          <div class="inner cover">


              <img src="img/logoUnbinded-white.png" class="logoLead-payment">

              <br/>
              <!-- game image -->
              <img src="<%= imageLink %>" class="gamePic">
              <p class="gametitle"><%= gameName %></p>
              <p class="gameaddress">
                <%= gameAddress %>
              </p>


            <div class="payWithCardButtonContainer">
                <form action="/charge?pn=<%=pn%>&gid=<%=gid%>&gameprice=<%= gameprice*100 %>" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button" style="height: 50px;"
                    data-key="pk_test_p3GX2e0V1P9FteC3qz29z4YK"
                    data-amount="<%= gameprice*100 %>"
                    data-name="Kickabout"
                    data-description=""
                    data-image="img/logo.png"
                    data-locale="auto"
                    data-zip-code="false"
                    data-currency="gbp">
                  </script>
                </form>
            </div>


          </div>

        </div>

        <div class="footerDiv">
          <p class="footertext">
                Activate Technologies Ltd, Gordon House, 29 Gordon Square, London, WC1H 0PP
                <br>
                www.activatetechnologies.co.uk
          </p>
        </div>

    </div>

  </div>

  </body>
</html>
