<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Visualize</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="css/visualize.css" media="screen" title="no title" charset="utf-8">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="container">
      <h1>Visualize</h1>

      <h3>New Users per week</h3>
      <div id="newusersperweek">

      </div>

      <h3>Button hits per week</h3>
      <div id="buttonHitsWeekly">

      </div>

      <h3>New Users per Month</h3>
      <div id="newuserspermonth">

      </div>

      <h3>Button hits per Month</h3>
      <div id="buttonHitsMonthly">

      </div>
    </div>

    <script>
      var plot = function(elementid, bardata){
        console.log(bardata);

        var height = 400, width = 600, barWidth = 50, barOffset = 5;

        var colors = d3.scale.linear()
                      .domain([0, d3.max(bardata)])
                      .range(['#ffb832', '#c61c6f']);

        var yScale = d3.scale.linear()
                      .domain([0, d3.max(bardata)])
                      .range([0, height]);

        var xScale = d3.scale.ordinal()
                     .domain(d3.range(0, bardata.length))
                     .rangeBands([0, width]);

        var myChart = d3.select(elementid).append('svg')
            .attr('width', width)
            .attr('height', height)
            .append('g')
            .selectAll('rect').data(bardata)
            .enter().append('rect')
              .style('fill', colors)
              .attr('width', xScale.rangeBand())
              .attr('height', 0)
              .attr('x', function(d, i){
                 return xScale(i);
              })
              .attr('y', height)
            .on('mouseover', function(d){
              d3.select(this).style('opacity', 0.5);
            })
            .on('mouseout', function(d){
              d3.select(this).style('opacity', 1);
            })

        myChart.transition()
          .attr('height', function(d){
            return yScale(d);
          })
          .attr('y', function(d){
            return height - yScale(d);
          })
          .delay(function(d, i){
            return i*20;
          })
          .duration(1000)
          .ease('elastic')

      }

      console.log('<%= newUsersWeekly %>');
      s = '<%= newUsersWeekly %>'
      var arr = s.split(',').map(i => parseInt(i))

      plot("#newusersperweek", arr)

      console.log('<%= buttonHitsWeekly %>');
      s = '<%= buttonHitsWeekly %>'
      var arr2 = s.split(',').map(i => parseInt(i))

      plot("#buttonHitsWeekly", arr2)

      console.log('<%= newUsersMonthly %>');
      s = '<%= newUsersMonthly %>'
      var arr3 = s.split(',').map(i => parseInt(i))

      plot("#newuserspermonth", arr3)

      console.log('<%= buttonHitsMonthly %>');
      s = '<%= buttonHitsMonthly %>'
      var arr3 = s.split(',').map(i => parseInt(i))

      plot("#buttonHitsMonthly", arr3)
    </script>
  </body>
</html>
