<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Visualize</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="css/visualize.css" media="screen" title="no title" charset="utf-8">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <style media="screen">

    body {
      background: #626C76;
      background: -webkit-linear-gradient(#626C76, #3D435D); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#626C76, #3D435D); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#626C76, #3D435D); /* For Firefox 3.6 to 15 */
      background: linear-gradient(#626C76, #3D435D); /* Standard syntax */
    }

    .container {
      width: 80%;
    }

    .card {
      background: #F0EFED;
    }

    h1 {
      text-align: center;
      color: #dddddd;
    }

    h3 {
      text-align: center;
      padding-top: 20px;
      color: #766F62;
      font-size: 20px;
    }

    .bar {
      fill: steelblue;
    }

    .axis text {
      font: 10px sans-serif;
    }

    svg {
      margin: 0 auto;
      display: block;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #333;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Visualize</h1>

      <div class="row">
        <div class="col l6">
          <div class="card z-depth-3">
            <h3>New Users Last Week</h3>
            <div id="newusersperweek"></div>
          </div>
        </div>
        <div class="col l6">
          <div class="card z-depth-3">
            <h3>Button Hit Last Week</h3>
            <div id="buttonHitsWeekly"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col l6">
          <div class="card z-depth-3">
            <h3>New Users Per Month</h3>
            <div id="newuserspermonth"></div>
          </div>
        </div>
        <div class="col l6">
          <div class="card z-depth-3">
            <h3>Button Hits Per Month</h3>
            <div id="buttonHitsMonthly"></div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/visualize.js"></script>
    <script type="text/javascript">
      console.log('<%= newUsersWeekly %>');
      s = '<%= newUsersWeekly %>'
      var arr = s.split(',').map(i => parseInt(i))

      plot("#newusersperweek", arr)

      console.log('<%= buttonHitsWeekly %>');
      s = '<%= buttonHitsWeekly %>'
      var arr2 = s.split(',').map(i => parseInt(i))

      plot("#buttonHitsWeekly", arr2)

      console.log('<%= newUsersMonthly %>');
      s = '<%= newUsersMonthly %>'
      var arr3 = s.split(',').map(i => parseInt(i))

      plot("#newuserspermonth", arr3)

      console.log('<%= buttonHitsMonthly %>');
      s = '<%= buttonHitsMonthly %>'
      var arr3 = s.split(',').map(i => parseInt(i))

      plot("#buttonHitsMonthly", arr3)
    </script>
  </body>
</html>
