<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Analytics</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="css/visualize.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  </head>
  <body>

    <div class="container">
      <h2>Total users: <%= users %></h2>
      <h2>Hits on 'Book': <%= book %></h2>
      <h2>Hits on 'Yep': <%= yep %></h2>
      <h2>Hits on 'Today': <%= today %></h2>
      <h2>Hits on 'Tomorrow': <%= tomorrow %></h2>
      <h2>Hits on 'Soon': <%= soon %></h2>
    </div>

  </body>
</html>
